.banner{
  
    --image: url("../images/banner_image.jpg");
    background: linear-gradient(90deg, rgba(36,35,35,0.8) 0% ,rgba(255,255,255,0) 100% ), var(--image) center/cover;
    margin: 2vh 5vh;
    height: 80vh;
    max-height: 800px;
    border-style: solid;
    border-width: 2px;
    border-image-source: url("../images/banner_image.jpg");
    border-image-slice: 60 30;
    display: grid;
    grid-template-columns: 8fr 12fr;
    align-content: center;
    
  }

.banner-image-items{
  
  max-height: 800px;
  margin: 3rem;
    color: white;
  }
  
  .banner-image-items .banner-image-text h1{
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    line-height: 78px;
  }
  
  .banner-image-items .banner-image-text h2{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 34px;
  }
  
  .banner-image-items .banner-image-text h6{
    color: #B4B4B4;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 1rem;
  }
  
  .banner-image-button button{
    background: var(--secondary);
    width: 100px;
    height: 30px;
    color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  /* BANNER EXTRA ITEMS */

 
  
  .banner-image-extra-items #extra-items{
    
    
    
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    justify-content: center;
    align-content: center;
  }

  
  
  .banner-image-extra-items #extra-items .item-1{
    
    
   height: 30vh;
   max-height: 300px;
    background:rgba(199, 199, 199, 0.349);
  }

  .banner-image-extra-items #extra-items .item-1 .item1-content{
    width: 100%;
    height: 100%;
    padding: 50% 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    
  }
  
  .banner-image-extra-items #extra-items h1{
   
    font-family: "Bebas Neue",cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
  }
  
  .banner-image-extra-items #extra-items h6{
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  color: #C2C2C2;
  }
  
  .banner-image-extra-items #extra-items h5{
    color: #FFC42D;
  }
  
  .banner-image-extra-items #extra-items .item-2{
    background: url("../images/extra_item_1.png") no-repeat center/cover;
    
    
  }

  .banner-image-extra-items #extra-items .item-2 .item2-content{
    width: 100%;
    height: 100%;
    padding: 100% 1rem 0 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .banner-image-extra-items #extra-items .item-3{
    background: url("../images/extra_item_2.png") no-repeat center/cover;
  }

  .banner-image-extra-items #extra-items .item-3 .item3-content{
    width: 100%;
    height: 100%;
    padding: 100% 1rem 0 1rem;
    display: flex;
    flex-direction: column;
  }
  
  @media(max-width:800px){
    .banner-image-extra-items #extra-items .item-1{
      height: 20vh;
    }

    .banner-image-extra-items #extra-items .item-1 .item1-content{
      padding: 1rem 0.2rem 0 0.2rem;
    }

    .banner-image-extra-items #extra-items .item-2 .item2-content{
      padding: 100% 0.5rem 0 0.5rem;
    }

    .banner-image-extra-items #extra-items .item-3 .item3-content{
      padding: 100% 0.5rem 0 0.5rem;
    }

    .banner{
      margin: 2vh 0;
      height: 100vh;
      grid-template-columns: 12fr 12fr;
    }
  }
  
  
  @media(max-width:512px){
    .banner-image-extra-items{
      display: none;
    }

    .banner{
      margin: 2vh 0;
      height: 100vh;
      grid-template-columns: 12fr 12fr;
    }

    .banner-image-items{
      margin: 1rem;
    }
  }