.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.carrier-top{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.info{
    margin-bottom: 1rem;
    margin-right: auto;
}

.carrier-items{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    align-content: center;
    
}



.carrier-item1{
    margin-right: 2%;
    cursor: pointer;
    transition: .3s all ease-in-out;
    color: var(--dark);
}

/* .carrier-item1:hover{
    transform: scale(1.05);
} */



/* .carrier-item1:hover .item-text{
    background: var(--dark);
    color: var(--primary);
} */

.carrier-item2{
    margin-left: 2%;
    cursor: pointer;
    transition: transform .3s;
}

/* .carrier-item2:hover{
    transform: scale(1.05);
} */

/* .carrier-item2:hover .item-text{
    background: var(--dark);
    color: var(--primary);
} */

.carrier-items .item-text{
    padding: 0 0 1rem 0.5rem;
    border-style: solid ;
    border-color: var(--dark);
    border-width: 0 1px 7px 1px;
    transition: 0.3s ease-in-out;
    
}

.carrier-items .item-text h5{
    font-weight: 500;
}


@media(max-width:768px){
    .carrier-items{
        grid-template-columns: repeat(1,100%);
    }

    div.carrier-items *{
        width: 100%;
        margin: 0.5rem 0;
    }

    .info{
        width: 70%;
    }
}

@media(max-width:524px){
    .carrier-items{
        
        display: grid;
        grid-template-columns: repeat(1,100%);
        justify-content: space-between;
        align-content: center;
    }

    div.carrier-items *{
        width: 100%;
        margin: 0.5rem 0;
    }

    .info{
        width: 60%;
    }
    
}