.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.navbar ul li{
  padding: 0.5rem 1rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

/* .navbar ul li a{
    color: var(--dark);
}

.navbar ul li:hover{
  background: var(--secondary);
  
} */

.navbar ul li:hover a{
  color: var(--primary);
}

@media(max-width:1000px){
    .navbar{
        display: none;
    }

}

@media(max-width:512px){
    .navbar{
        display: none;
    }
}

